*{padding:0; margin:0}
html,div,ul,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,form,embed,label,ol{margin:0;padding:0;border:0;font-weight:normal;font-family:"微软雅黑",Arial, Helvetica, sans-serif;line-height: 100%;}
html{height:100%;width:100%;}
img{border:none}
ul,ul li,ol,ol li,menu li{list-style:none;}
input:focus { outline: none; }
a,a:visited,a:hover,a:active{text-decoration:none;-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both}
body{margin:0px;padding:0px;font-size:16px;color:#333333;font-family:"微软雅黑";}
.relative,.header .wrap{position: relative;}
.wrap{width:1300px; margin-left:auto; margin-right:auto;}
.clearfix{clear: both;overflow: hidden;}
.abs,i,u{display: block;position: absolute;*+position: fixed;text-decoration: none;}
.fl{float: left;}
.fr{float: right;}

/* 头部 S */
.wrap1820{width: 1820px; margin-left:auto; margin-right:auto;position: relative;height: 90px;}
.header{ height:90px; position:absolute;z-index: 999;width: 100%; background: #ffffff;border-bottom: solid 1px #e4e4e4;}
.header .wrap{height: 100%;}
.header .logo,.nav_menu,.r_panel,.r_panel .wx,.r_panel .hidebtn{ position:absolute;top:50%; }
.header .logo{ width:127px; height:57px;left:0px; margin-top:-29px;}
.header .logo img{width:100%; height:100%;}
.nav_menu{width:664px;height:90px;left: 50%;margin-left: -332px;margin-top: -45px;}
.nav_menu li{ float:left;padding-right:86px;position: relative;max-width: 64px;overflow: hidden;}
.nav_menu li.last{padding-right: 0px;}
.nav_menu li a{ color:#4f4f4f;line-height: 90px;max-height: 90px;display: block;overflow: hidden;}
.nav_menu li a:hover,.header .nav_menu li.active a,.header .nav_menu li:hover a{color: #005fd3;}
.nav_menu .line{height: 3px;background:#005fd3;top:89px;left: -1px;width: 0px;z-index: 999;}
.nav_menu li:hover .line,.nav_menu li.active .line{width: 68px;transition: all 0.5s;}
.pull_header .pullDown{ width:100%; position:absolute; left:0; top:91px; z-index:100; display:block;padding-top:0px;}
.pull_header .pullDown.h60{height: 60px;background: #f3f3f3;display: none;    width: 100%;}
.pull_header .hwrap{height: 100%;line-height: 60px;text-align: center;}
.pull_header .wrap8{width: 28%;margin-left: auto;margin-right: auto;text-align: right;}
.pull_header .wrap9{width: 35%;margin-left: auto;margin-right: auto;text-align: right;}
.pull_header a{color: #797979;font-size: 14px;    padding:0px 13px;border-right: solid 1px #bdbbbb;}
.pull_header a.last{padding-right: 0px;border-right: 0px;}
.pull_header a:hover{color:#005fd3; }


.r_panel{width: 217px;right: 0px;height: 22px;margin-top: -11px;}
.r_panel span,.r_panel .hidebtn{display: block;overflow: hidden;cursor: pointer;}
.r_panel .tel i,.r_panel .tel:hover i,.r_panel .wx,.r_panel .wx:hover{width: 20px;height: 20px;background: url(../images/ico.png) no-repeat 0px 0px;}
.r_panel .tel u{left: 25px;line-height: 20px;color: #666;font-weight: bold;}
.r_panel .wx{background-position: 0px -26px;right: 38px;margin-top: -10px;cursor: pointer;} 
.r_panel .wx:hover{background-position: 0px -48px;}
.r_panel .tel:hover i{    background-position: -2px -74px;}
.r_panel .tel:hover u{color:#005fd3;}
.r_panel .hidebtn{width: 20px;height: 14px;margin-top: -7px;right: 0px;}
.r_panel .hidebtn i {
    height: 2px;
    display: block;
    overflow: hidden;
    width: 20px;
    background:#111111; 
    transition: all 0.3s;
}
.r_panel .hidebtn i.bar-top{top: 0px;}
.r_panel .hidebtn i.bar-center{top: 50%;margin-top: -1px;width: 16px;}
.r_panel .hidebtn i.bar-bottom{bottom: 0px;}
.r_panel .hidebtn:hover i.bar-top,.r_panel .hidebtn:hover i.bar-bottom{width: 16px; background: #005fd3;}
.r_panel .hidebtn:hover i.bar-center{width: 20px;background: #005fd3;}
.wx_img_big{width: 140px;height: 172px;background: url(../images/wx_img_big.png); background-size:cover;position: absolute;right: 32px;top: 90px;display: none; }
.m_menu,.menuwap{display: none;}


.dialog_hide{position:fixed;top:-800px;left:0px;width:100%;height:660px;background:#fff;z-index:999;}
.dialog_hide .container{width:976px;padding-top:94px;position: relative; margin: 0px auto;}
.dialog_hide .left{width:515px;float:left;    margin-top: 57px;}
.dialog_hide .left .redTitle{padding:18px 0px 0px;height:40px;color:#444444;font-size:40px;border-top: solid 2px #005fd3;}
.dialog_hide .left .title{font-size: 29px;color: #444;border-bottom: solid 1px #d3d3d3;padding: 23px 0px 28px;}
.dialog_hide .left .info_des{color: #707070;font-size: 14px;line-height: 23px;margin-top: 9px;}
.dialog_hide .left .footTitle{ background: url(../images/foottitle_bg.jpg) no-repeat left center;height: 44px;line-height: 42px;margin: 26px 0px 11px;font-size: 20px;color: #464646;padding-left: 102px;}
.dialog_hide .left .info{font-size:14px;color:#5d5d5d;line-height:23px;padding-top: 8px;padding-left: 36px;position: relative;}
.dialog_hide .left .info.add i{background: url(../images/ico.png) no-repeat -10px -357px;width: 12px;height: 16px;left: 13px;top: 12px;}
.dialog_hide .left .info.hottel i{background: url(../images/ico.png) no-repeat -46px -357px;width: 23px;height: 18px;left: 10px;top: 10px; } 
.dialog_hide .left .info.hottel label{font-size: 16px;font-weight: bold;color: #666666;}
.dialog_hide .right{width:400px;float:right;}
.dialog_hide .right .title{font-size:24px;color:#444;padding-bottom:8px;}
.dialog_hide .right .line{padding:4px 0;}
.dialog_hide .right .line .inputText,.dialog_hide .right .line .textArea{text-indent: 1em;color:#939393;font-size:14px;border:0px;background:#f3f3f3;width:100%;height:47px;line-height:47px;margin:0px;}
.dialog_hide .right .line .textArea{height:160px;}
.dialog_hide .right .line .textArea::-webkit-input-placeholder,.dialog_hide .right .line .inputText::-webkit-input-placeholder{ color:#939393;font-family:"微软雅黑";}
.dialog_hide .right .line .textArea::-moz-placeholder,.dialog_hide .right .line .inputText::-moz-placeholder{color:#939393;font-family:"微软雅黑";}
.dialog_hide .right .line .textArea::-moz-placeholder,.dialog_hide .right .line .inputText::-moz-placeholder{  color:#939393;font-family:"微软雅黑";}
.dialog_hide .right .line .textArea::-ms-input-placeholder,.dialog_hide .right .line .inputText::-ms-input-placeholder{  color:#939393;font-family:"微软雅黑";}
.dialog_hide .right .line .inputBtn{width:398px;cursor:pointer;height:47px;background:#fff;color:#005fd3;font-size:16px;border:1px solid #005fd3;}
.dialog_hide .right .line .inputBtn{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.dialog_hide .right .line .inputBtn:hover{background:#005fd3;color:#fff;}
.dialog_hide #dialog_hideCloseBtn{position:absolute;top:34px;right:34px;cursor:pointer;}
.dialog_hide #listCloseBtn {
    position: absolute;
    top: 34px;
    right: 34px;
    cursor: pointer;
}

/* 首页部分 */
@font-face { 
  font-family: MyriadPro; 
  src: url('MyriadPro-LightCond.woff.ttf') format('truetype');
} 

@font-face { 
  font-family: fzzzh; 
  src: url('fzzzh.TTF') format('truetype');
} 
@font-face {
    font-family: zzgf;
    src:url('MISSYUAN.OTF'); 
}
@font-face {
    font-family: msyhl;
    src:url('yeheiLight.ttf'); 
}
/* 标题 */
.w_title_com{position: absolute;top: 15.2%;text-align: center;width: 100%;/* 82/807 */}
.w_title_com h1,.w_title_com h2{color: #434343;position: relative;letter-spacing: 3px;text-transform: uppercase;}
.w_title_com i{bottom: 0px;left: 50%;}
.w_title_com h1{font-size: 58px;font-family: MyriadPro; text-align: center;line-height: 38px;padding-bottom: 34px;}
.w_title_com h1 i{width: 38px;height: 2px; background:#005ed3;margin-left: -19px;}
.w_title_com h2{font-size: 24px;color: #434343;text-align: center;padding: 24px 0px 13px;position: relative;}
.w_title_com h2 i{width: 98px;height: 1px;background:#c0bebe;margin-left: -49px;}
/* banner轮播 */
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    direction:ltr;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
    height:100%;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}
.page1  .pagination {
  position: absolute;
  left: 0;
  text-align: center;
bottom: 93px;
  width: 100%;
}
.page1 .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 16px;
background: url(../images/grey.png) no-repeat center center;

  margin: 0 4px;
  cursor: pointer;
}
.page1 .swiper-active-switch {
  width: 16px;height: 16px;
  background: url(../images/grey_fff.png) no-repeat center center;
  position: relative;
}

.page1 .swiper-active-switch:before {
    content: "";
    background: url(../images/dot-line2.png) no-repeat 0 0;
    width: 19px;
    height: 9px;
    position: absolute;
   margin-top: -5.5px;
   left: -13px;
    top: 50%;
}
.page1 .swiper-active-switch:first-child:before{
     background: url(../images/dot-line.png) no-repeat 0 0;
     left: 13px;
      width: 12px;
}

.page1  .swiper-slide{
    position:relative;
    opacity:0;
    transition: opacity 0.7s ease-in-out;
}
.page1 .swiper-slide-active{
    opacity:1;
}

.swiper-container  .bprev,.swiper-container  .bnext{
    position: absolute;width:38px;height: 26px;top: 50%;margin-top: -13px;
    cursor: pointer;
    transition: all 0.5s;

  
}
.swiper-container  .bprev{   background: url(../images/ico.png) no-repeat -30px 0px;left: 2.5%; }
.swiper-container  .bprev:hover{background: url(../images/ico.png) no-repeat -30px -41px;}
.swiper-container  .bnext{   background: url(../images/ico.png) no-repeat -99px 0px;right: 2.5%;}
.swiper-container  .bnext:hover{   background: url(../images/ico.png) no-repeat -80px -41px;}
/* 更多 */
.detail{display: block; width: 144px;height: 40px;border: solid 1px #005ed3;line-height: 40px;color: #0260d3;text-indent:0.68em;transition: color 0.5s;}
.detail.blue,.detail:hover,.newslist li:hover .detailmore{background:#025fd3;color: #fff;}
.detail i{background:url(../images/indexico.png) no-repeat -66px -62px;width: 30px;height: 18px;float: right;margin-right: 12px;position: static;margin-top: 13px; }
.detail.blue i,.detail:hover i,.newslist li:hover .detailmore i{background:url(../images/indexico.png) no-repeat -66px -44px;}
.particles{position: absolute;z-index: -1;width: 100%;height: 100%;}
 
 /* zuihou yiping */
/* page7 */
.page7{background:#f5f7fa url(../images/page7bg.jpg) no-repeat center center;}
.detail_left p.t1{color: #0260d3;font-size: 34px;}
.detail_left p.t2{font-size: 16px;color: #333333;margin-top: 24px;}
.d_info{margin:57px 0px;}

#btnok{background: #025fd3;text-indent: 0em;text-align:center;color: #ffffff;font-size: 14px;width: 216px;margin-top: 44px; height: 40px;
    border: solid 1px #005ed3;
    line-height: 40px;
    display: block;
    opacity: 1;
}
.page7 .inputtxt::-webkit-input-placeholder,.formleave .inputtxt::-webkit-input-placeholder{ color:#c2c2c2;font-family:"微软雅黑";}
.page7 .inputtxt::-moz-placeholder,.formleave .inputtxt::-moz-placeholder{color:#c2c2c2;font-family:"微软雅黑";}
.page7 .inputtxt:-moz-placeholder,.formleave .inputtxt::-moz-placeholder{  color:#c2c2c2;font-family:"微软雅黑";}
.page7 .inputtxt:-ms-input-placeholder,.formleave .inputtxt::-ms-input-placeholder{  color:#c2c2c2;font-family:"微软雅黑";}
.page7 #hz_xq{height: 93px;}
.page7 .inputtxt{    border-radius: 0;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    border: medium none;
    width: 100%;
    color: #a9a9a9;
    padding-top: 11px;
    background: transparent;
    border-bottom: 1px solid #a9a9a9;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.page7 .form_right i{
        position: absolute;
    right: 10px;
    bottom: 10px;
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
}
.page7 .form_right .inputtxt:hover{
    border-bottom: 1px solid #025fd3;
}
.detail{display: block;}


/* 公用标题 横线 */
.h_c_line{font-size: 36px;color: #434343;position: relative;width: 100%;text-align: center;padding-top: 36px;}
.h_c_line i{width: 150px;height: 2px;background: #005fd3;left: 50%;margin-left: -75px;top: 0px;}
.honor_left p,.whois p,.history li p,.page_an p,.p_com{font-size: 16px;color: #818181;line-height: 28px;}


/* 底部 */
.detail_left .d_info label{margin-left: 35px;line-height: 25px;font-size: 16px;color: #676565;}
.detail_left .d_info p{margin-bottom: 15px;}
.detail_left .d_info p:hover label,.detail_left .d_des p:hover{color:#025fd3;}
.detail_left .d_info i{width:21px;height: 25px;background: url(../images/indexico.png) no-repeat -133px -39px;}
.detail_left .d_info i.address{background-position:-133px -69px; }
.detail_left .er{max-width: 135px;margin-left: 35px; overflow: hidden;text-align:center;}
.detail_left .er img{display: block;max-width: 133px;max-height: 133px;border:solid 1px #bfbdbd;}
.detail_left .d_des p,.detail_left .er span{color: #676565;font-size: 14px;line-height: 24px;}
.detail_left .er span{display: block;height: 35px;line-height: 35px;}
#foot_detail_left{width: 383px;}
#foot_detail_left .d_info{margin: 0px;}
#foot_detail_left .d_info{background: url(../images/f_logo.png) no-repeat left top;padding-top:73px;margin-left: 12px;}
#foot_detail_left .d_info label{font-size: 14px;}
#foot_detail_left .d_info p:hover label{color:#025fd3;}
#foot_detail_left .d_info i{width: 20px;height: 20px;background: url(../images/ico.png) no-repeat -148px -0px;}
#foot_detail_left .d_info p:hover i.tel{background: url(../images/ico.png) no-repeat -185px -0px;}
#foot_detail_left .d_info i.address{background-position:-150px -28px}
#foot_detail_left .d_info p:hover i.address{background: url(../images/ico.png) no-repeat -187px -28px;}
#foot_detail_left .d_info i.wxi{background-position:-149px -60px}
#foot_detail_left .d_info p:hover i.wxi{background: url(../images/ico.png) no-repeat -186px -60px;}
#foot_detail_left .d_info label{margin-left: 27px;line-height: 20px;}
#foot_detail_left .d_info p.mb0{margin-bottom: 0px;}

/* footer */
.footer{height: 99px;position: absolute;bottom: 0px;width:100%;background:#080c19;text-align:center;overflow: hidden;}
.power,.power a{color: #666666;font-size: 12px;cursor: pointer;}
.footer .link-item{height: 17px;overflow: hidden;margin: 30px 0px 13px;}
.footer .link-item a{padding:0px 11px 0px 9px;color: #666666;font-size:14px;height: 15px;line-height: 15px;border-right: 1px #666666 solid;box-sizing: border-box;}
.footer .link-item a:hover{color: #bbbbbb;}
.footer .link-item a.nobor{border-right: 0px;}
.footer_top{background: #f3f3f7;border-top:solid 1px #ececec; overflow: hidden;padding: 44px 0px 46px;clear: both;}
.footer_top .wrap{position: relative;overflow: hidden;}

.foot_b{float: left;position: relative;}
.foot_b h3,.foot_b  a{color: #818181;font-size:17px; }
.foot_b a:hover,.foot_b h3:hover,.power a:hover{color:#025fd3;}
.foot_b h3{position: relative;padding-bottom: 14px;padding-top: 12px;}
.foot_b h3 i{width: 25px;height: 2px;background: #005fd3;bottom: 0px;left: 0px;}
.foot_b a{font-size: 14px;}
.foot_b ul{margin-top: 15px;}
.foot_b li{line-height:28px;}
.foot_wx{position: absolute;left: 383px;bottom: 0px;}
.foot_contact{position: absolute;right: 0px;width: 89px;}
.foot_about{position: absolute;right:87px;width: 172px;}
.foot_core_pro{position: absolute;right:261px;width: 285px;}
@media screen and (max-width: 1800px){
.wrap1820{width: 1100px;}
.wrap{width:1059px;}
.header,.wrap1820{height: 74px;}
.nav_menu{width:576px;margin-left: -288px;height: 74px;  margin-top: -37px;}
.nav_menu li{padding-right: 64px;}
.nav_menu li a{line-height: 74px;}
.nav_menu .line{top: 72px;}
.pull_header .pullDown{top: 75px;}
.pull_header .wrap8{width: 36%;}
.pull_header .wrap9{width: 42%;}
.w_title_com h1{font-size:47px;    padding-bottom: 28px; }
.w_title_com h2{font-size: 20px; padding: 15px 0px 13px;}
.detail{width: 117px;height: 33px;line-height: 33px;text-indent: 0em;text-align:center;}
.detail i{display: none;}
.page7 .footer{height: 82px;}
.footer .link-item{    margin: 22px 0px 13px;}
.foot_b li{line-height: 26px;}

.detail_left p.t1{font-size: 28px;}
.detail_left p.t2{margin-top: 20px;}
.detail_left .d_info{    margin: 28px 0px 10px;}
.detail_left .d_info p{margin-bottom: 5px;}
.detail_left .er{max-width: 110px;}
.detail_left .er img{max-width: 108px;max-height: 108px;}
.detail_left .d_des{display: none;}
/* 列表页面 */
.page2 .w_section_img{width:463px; }

}
@media screen and (max-width: 1050px){
    .wrap1820,.wrap{width:96%;}

}


