header .hu-btn {
    text-transform: none;
    overflow: visible;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    border-radius: 20px;
    -webkit-transition: all .5s cubic-bezier(.25, .8, .25, 1) 0s;
    transition: all .5s cubic-bezier(.25, .8, .25, 1) 0s
}

header .hu-btn.btn-primary {
    color: #fff;
    background: #4ccaad;
    border-color: #4ccaad;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 16px
}

header .hu-btn.btn-primary:hover {
    background: #4ccaad;
    border-color: #4ccaad
}

header .hu-btn.btn-primary-outline {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 16px;
    color: #00b38a;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border-color: #00b38a
}

header .hu-btn.btn-primary-outline:hover {
    color: #fff;
    background: #00b38a
}

body, html {
    height: 100%;
    width: 100%
}

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #eee
}

body a {
    color: inherit;
    text-decoration: none
}

body a:active, body a:hover {
    color: inherit
}

body * {
    margin: 0;
    padding: 0
}

body ol, body ul {
    list-style: none
}

body div._html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto
}

body div._html div._body {
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: relative
}

header * {
    outline: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: inherit
}

header .nav-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
    background-color: #1d2440
}

header .nav-bg .nav-logo > img {
    margin-left: 40px;
    height: 48px
}

header .nav-bg .nav-list {
    display: none
}

header .nav-bg .nav-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0
}

header .nav-bg .nav-tab .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 164px;
    text-decoration: none;
    border: none;
    color: #fff;
    border-top: 4px solid transparent
}

header .nav-bg .nav-tab .items.item-btn {
    width: auto;
    padding: 0 15px;
    height: 56px;
    line-height: 56px
}

header .nav-bg .nav-tab .items span, header .nav-bg .nav-tab .items > a {
    height: 56px;
    font-size: 16px;
    color: #fff;
    list-style: none;
    line-height: 56px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px
}

header .nav-bg .nav-tab .items.active {
    background-color: #374163;
    border-top: 4px solid #00b38a
}

header .nav-bg .nav-tab .items.dropSelect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

header .nav-bg .nav-tab .items.dropSelect .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

header .nav-bg .nav-tab .items.dropSelect > .schemeList {
    display: none;
    position: absolute;
    top: 60px;
    font-size: 14px
}

header .nav-bg .nav-tab .items.dropSelect > .schemeList > li {
    width: 164px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #374163;
    cursor: pointer
}

header .nav-bg .nav-tab .items.dropSelect > .schemeList > li.current, header .nav-bg .nav-tab .items.dropSelect > .schemeList > li:hover {
    background-color: #00b38a
}

header .nav-bg .nav-tab .items:hover {
    border-top: 4px solid #374163;
    background-color: #374163
}

header .nav-bg .nav-tab .items:hover > .schemeList {
    display: block
}

footer {
    background: #1d2440;
    height: 130px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

footer .container {
    margin: 40px auto 0;
    padding: 0 15px
}

footer .row {
    margin: 0 -15px
}

footer a, footer a:hover, footer p {
    color: #fff !important;
    text-align: center
}

@media screen and (max-width: 767px) {
    header .nav-bg .nav-list {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px
    }

    header .nav-bg .nav-list img {
        width: 26px;
        height: 23px
    }

    header .nav-bg .nav-tab {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1d2440;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    header .nav-bg .nav-tab .items {
        width: 144px
    }

    header .nav-bg .nav-tab .items.dropSelect {
        position: relative
    }

    header .nav-bg .nav-tab .items.dropSelect.mbActive .schemeList {
        display: block;
        position: absolute;
        top: -4px;
        left: -144px
    }

    header .nav-bg .nav-tab .items.dropSelect.mbActive .schemeList li {
        width: 144px
    }

    header .nav-bg .nav-tab #logined .schemeList {
        display: block;
        top: 56px
    }

    header .nav-bg .nav-tab #logined .schemeList li {
        width: 144px
    }
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 60px;
    background-color: #f0f2f5
}

.main .mainContent {
    margin: 0 auto;
    max-width: 1200px
}

.main .mainContent .apply-header {
    padding: 20px 0;
    text-align: center
}

.main .mainContent .apply-header .apply-header-content .apply-header-item {
    display: inline-block
}

.main .mainContent .apply-header .apply-header-content .apply-header-item .ap-icon {
    width: 32px;
    height: 32px;
    background-color: #dfdfdf;
    border-radius: 50%;
    margin-left: 16px;
    text-align: center;
    line-height: 32px
}

.main .mainContent .apply-header .apply-header-content .apply-header-item .ap-txt {
    font-size: 16px;
    color: #999;
    margin-top: 12px
}

.main .mainContent .apply-header .apply-header-content .apply-header-item.active .ap-icon {
    background-color: #00b38a;
    color: #fff
}

.main .mainContent .apply-header .apply-header-content .apply-header-item.active .ap-txt {
    font-weight: 700;
    color: #00b38a
}

.main .mainContent .apply-header .apply-header-content .apply-header-item:not(:last-child) {
    position: relative;
    margin-right: 122px
}

.main .mainContent .apply-header .apply-header-content .apply-header-item:not(:last-child) .ap-icon {
    position: relative
}

.main .mainContent .apply-header .apply-header-content .apply-header-item:not(:last-child) .ap-icon .line {
    position: absolute;
    left: 36px;
    top: 16px;
    display: inline-block;
    width: 150px;
    border-top: 1px solid #dfdfdf
}

.main .mainContent .apply-container {
    background-color: #fff;
    margin: 0 auto 40px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .06);
    box-shadow: 0 0 8px rgba(0, 0, 0, .06)
}

.main .mainContent .apply-container .applyForm {
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    max-width: 360px;
    padding-bottom: 20px
}

.main .mainContent .apply-container .applyForm .apply-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    padding: 24px 0 8px
}

.main .mainContent .apply-container .applyForm .apply-txt {
    font-size: 12px;
    margin-bottom: 14px;
    color: #999
}

.main .mainContent .apply-container .applyForm .apply-line {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    position: relative
}

.main .mainContent .apply-container .applyForm .apply-line .login-label {
    display: none
}

.main .mainContent .apply-container .applyForm .apply-line input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
    border-radius: 4px;
    color: #666;
    background-color: #fff
}

.main .mainContent .apply-container .applyForm .apply-line input::-webkit-input-placeholder {
    color: #bbb;
    font-size: 14px
}

.main .mainContent .apply-container .applyForm .apply-line input:-ms-input-placeholder {
    color: #bbb;
    font-size: 14px
}

.main .mainContent .apply-container .applyForm .apply-line input::-ms-input-placeholder {
    color: #bbb;
    font-size: 14px
}

.main .mainContent .apply-container .applyForm .apply-line input::placeholder {
    color: #bbb;
    font-size: 14px
}

.main .mainContent .apply-container .applyForm .apply-line input:focus, .main .mainContent .apply-container .applyForm .apply-line input:hover {
    border-color: #00b38a
}

.main .mainContent .apply-container .applyForm .apply-line .error-info {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0
}

.main .mainContent .apply-container .applyForm .apply-line.is-error input, .main .mainContent .apply-container .applyForm .apply-line.is-error input:focus {
    border-color: #f56c6c
}

.main .mainContent .apply-container .applyForm .bottom .next-btn {
    border: 0;
    outline: 0;
    width: 100px;
    height: 36px;
    background-color: #00b38a;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}

.main .mainContent .apply-container .applyForm .bottom .next-btn:hover {
    background-color: #30c19f
}

.main .mainContent .apply-container .applyForm .bottom p {
    font-size: 12px;
    color: #999;
    margin: 8px 0 0;
    padding-bottom: 20px
}

.main .mainContent .apply-container .applyForm .bottom p a {
    color: #00b38a
}

@media screen and (max-width: 767px) {
    .main .mainContent .apply-header .apply-header-content .apply-header-item {
        font-size: 13px
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item .ap-icon {
        width: 27px;
        height: 27px;
        line-height: 27px;
        color: #999
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item .ap-icon .line {
        width: 76px;
        top: 6px
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item.active {
        font-weight: 700
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item.active .ap-icon {
        background-color: #00b38a;
        color: #fff
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item.active .ap-txt {
        color: #00b38a
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item:not(:last-child) {
        margin-right: 50px
    }

    .main .mainContent .apply-header .apply-header-content .apply-header-item:not(:last-child) .ap-icon .line {
        left: 34px;
        top: 12px;
        width: 76px
    }

    .main .mainContent .apply-container {
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 15px;
        margin: 0
    }

    .main .mainContent .apply-container .applyForm {
        max-width: 100%;
        line-height: 1
    }

    .main .mainContent .apply-container .applyForm .apply-title {
        font-size: 20px;
        padding: 32px 0 8px
    }

    .main .mainContent .apply-container .applyForm .apply-txt {
        margin-bottom: 55px
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line {
        margin-bottom: 43px
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line .login-label {
        display: block;
        position: absolute;
        top: -23px;
        left: 0;
        font-size: 15px;
        line-height: 1;
        color: #333
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line input {
        border-radius: 5px
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line input::-webkit-input-placeholder {
        color: #fff;
        display: none
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line input:-ms-input-placeholder {
        color: #fff;
        display: none
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line input::-ms-input-placeholder {
        color: #fff;
        display: none
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line input::placeholder {
        color: #fff;
        display: none
    }

    .main .mainContent .apply-container .applyForm #applyForm .apply-line .error-info {
        top: 12px;
        right: 12px;
        left: inherit;
        padding: 0
    }

    .main .mainContent .apply-container .applyForm #applyForm .bottom {
        width: 100%;
        margin-bottom: 20px
    }

    .main .mainContent .apply-container .applyForm #applyForm .bottom .next-btn {
        font-size: 16px;
        width: 100%;
        height: 40px
    }

    .main .mainContent .apply-container .applyForm #applyForm .bottom p {
        padding: 0
    }
}
