<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="mengo">
    <title>关于我们</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <style>
        p{
            text-align: left;
            margin:0 0 5px;
        }
    </style>
</head>
<body style="background: url('img/about.png') no-repeat;padding: 0;margin: 0;background-size: 100% 100%;">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><img src="img/l.png" style="width: 90px;margin-left: -200px" ></h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="/">首页</a></li>
                                <li><a href="/product">产品</a></li>
                                <li><a href="/customization">定制</a></li>
                                <li class="active"><a href="/about">关于我们</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h2 style="color: #fff">我们的团队</h2>
                <p style="color: #fff;font-size: 18px;text-indent:2em;">核心研发团队成员来自中国科学院、南京邮电大学、盐城市大数据产业园，在大数据前沿理论、热点技术、开源生态及最佳应用方案等方面具有丰富的理论基础与实践经验；在物联网高通量数据采集、多源异构海量数据管理、大数据存储与计算一体化及大规模图数据管理等方面具有深厚的理论研究；在高通量大数据的流水线智能作业平台、关系网络大数据挖掘与分析等方面拥有核心技术。</p>
            </div>
            <div class="col-md-6 text-center">
                <div class="text-center" style="margin-left: 330px;margin-top: 220px;">
                <img src="img/code.png" style="width: 112px">
                </div>
            </div>
        </div>
        <div class="mastfoot" style="margin-left: 350px;margin-bottom: 30px;" >
            <p style="color: #fff">地址：江苏省盐城市城南新区大数据产业园创新大厦南楼15层</p>
            <p style="color: #fff">联系人：杨汉玮</p>
            <p style="color: #fff">电话：13921802276</p>
        </div>
    </div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>