<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="mengo">
        <title>关于我们</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    </head>
</head>
<body>


<body data-path="about">
<div class="_html">
    <div class="_body">
        <header>
            <div class="nav-bg" id="navHeader">
                <a class="nav-logo" href="/"><img src="img/l.png" alt="kaiyuan"></a>
                <div class="nav-list"><img src="img/icon-menu.png" alt=""></div>
                <div class="nav-tab">
                    <div class="items dropSelect coreProduct">
                        <a href="/">
                            <span>首页<i class="icon"></i></span>
                        </a>
                    </div>
                    <div class="items dropSelect solution">
                        <a href="/product">
                            <span>产品<i class="icon"></i></span>
                        </a>
                    </div>
                    <a class="items" href="/customization">
                        <span>定制<i class="icon"></i></span>
                    </a>
                    <a class="items" href="/about">
                        <span>关于我们<i class="icon"></i></span>
                    </a>
                    <a class="items item-btn" href="/login">
                        <button class="hu-btn btn-primary-outline">
                            登录
                        </button>
                    </a>
                    <a class="items item-btn" href="/tryout">
                        <button class="hu-btn btn-primary">
                            申请试用
                        </button>
                    </a>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="mainContent">
                <div class="intro">
                    <div class="intro-det">
                        <span>公司简介</span>
                        <p>
                            核心研发团队成员来自中国科学院、南京邮电大学、盐城市大数据产业园。在大数据前沿理论、热点技术、开元生态及最佳应用方案等方面具有丰富 的理论基础与实践经验。</p>
                        <p>
                            团队在物联网高通量数据采集、多源异构海量数据管理、大数据存储与计算一体化及大规模图数据管理等方面具有深厚的理论
                            研究。</p>
                        <p> 在高通量大数据的流水线智能作业平台、关系网络大数据挖掘与分析等方面拥有核心技术。</p>
                    </div>
                </div>
                <div class="container-btm">
                    <div class="container-det">
                        <div class="contact-us hu-row">
                            <div class="left hu-col-lg-16 hu-col-md-24 hu-col-sm-24">
                                <span class="title">联系我们</span>
                                <ul class="detail">
                                    <li><span class="glyphicon glyphicon-phone">联系人：杨汉玮 &nbsp;&nbsp; 电话：xxxxxxxxxxx</span>
                                    </li>
                                    <li><span class="glyphicon glyphicon-envelope">邮箱：<a href="">xxxxxx@xxxx.xxx</a></span>
                                    </li>
                                    <li><span class="glyphicon glyphicon-map-marker">江苏省盐城市城南新区大数据产业园创新大厦南楼15层</span></li>
                                </ul>
                            </div>
                            <div class="right hu-col-lg-8 hu-col-md-24 hu-col-sm-24">
                                <span>扫描关注公众号</span>
                                <img src="img/code.png">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <p>
                        Copyright © 2019 GraphViz.cn . All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>