<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="mengo">
        <title>关于我们</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="shortcut icon" href="img/ico_new.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/about2.css">
    </head>
</head>
<body data-path="about">
<div class="_html">
    <div class="_body">
        <header>
            <div class="nav-bg" id="navHeader">
                <a class="nav-logo" href="/"><img src="img/logo.png" alt="kaiyuan"></a>
                <div class="nav-list"><img src="img/icon-menu.png" alt=""></div>
                <div class="nav-tab">
                    <div class="items dropSelect coreProduct">
                        <a href="/">
                            <span>网站首页<i class="icon"></i></span>
                        </a>
                    </div>
                    <div class="items dropSelect solution">
                        <a href="/product">
                            <span>核心产品<i class="icon"></i></span>
                        </a>
                    </div>
                    <a class="items" href="/customization">
                        <span>客户定制<i class="icon"></i></span>
                    </a>
                    <a class="items" href="/about">
                        <span>关于我们<i class="icon"></i></span>
                    </a>
                    <a class="items item-btn" href="/login">
                        <button class="hu-btn btn-primary-outline">
                            登录
                        </button>
                    </a>
                    <a class="items item-btn" href="/tryout">
                        <button class="hu-btn btn-primary">
                            申请试用
                        </button>
                    </a>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="mainContent">
                <div class="intro">
                    <div class="intro-det">
                        <span>公司简介</span>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;河北中科开元数据科技有限公司成立
                            于2017年4月，是一家专注大数据采集、管理、分析与服务的解决方案提供
                            商。提供自主研发、安全可控的大数据产品，致力于用领先科技成就客户价值，实现数据到智慧的转换。
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司拥有雄厚的大数据关键技术研发
                            能力，核心研发团队均来自中国科学院研究所，在大数据前沿理论、热点
                            技术、开源生态及最佳应用方案等方面具有丰富的理论基础与实践经验；在物联网高通量数据采集、多源异构
                            海量数据管理、大数据存储与计算一体化及大规模图数据管理等方面具有深厚的理论研究；在大数据全栈式基
                            础环境智能化监控平台、高通量大数据的流水线智能作业平台、关系网络大数据挖掘与分析等方面拥有核心技术。
                        </p>
                    </div>
                </div>
                <div class="container-btm">
                    <div class="container-det">
                        <div class="contact-us hu-row">
                            <div class="left hu-col-lg-16 hu-col-md-24 hu-col-sm-24">
                                <span class="title">联系我们</span>
                                <ul class="detail">
                                    <li><span class="glyphicon glyphicon-phone">联系人：杨汉玮 &nbsp;&nbsp; 电话：15531162276</span>
                                    </li>
                                    <li><span class="glyphicon glyphicon-envelope">邮箱：<a href="">contact@graphviz.cn</a></span>
                                    </li>
                                    <li><span class="glyphicon glyphicon-map-marker">河北省石家庄市黄河大道136号科技中心16楼</span></li>
                                </ul>
                            </div>
                            <div class="right hu-col-lg-8 hu-col-md-24 hu-col-sm-24">

                                 <span>扫描关注公众号</span>
                                 <img src="img/code.png">
                            </div>
                        </div>
                        <div class="company-map">
                            <img  style="height: 400px" src="img/dt.png">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <footer class="footer">
                <div class="power">
                    Copyright &copy; 2019 GraphViz.cn . All rights reserved. &nbsp;&nbsp;苏ICP备19013016号
                </div>
        </footer>
    </div>
</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>