<!DOCTYPE html>
<html lang="zn-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="mengo">
    <title>数据处理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/result.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/tryout.css">
    <link rel="shortcut icon" href="img/ico_new.ico" type="image/x-icon">
</head>
<body>
<header>
    <div class="nav-bg" id="navHeader">
        <a class="nav-logo" href="/"><img src="img/logo.png" alt="kaiyuan"></a>
        <div class="nav-list"><img src="img/icon-menu.png" alt=""></div>
        <div class="nav-tab">
            <div class="items dropSelect coreProduct">
                <a href="/">
                    <span>网站首页<i class="icon"></i></span>
                </a>
            </div>
            <div class="items dropSelect solution">
                <a href="/product">
                    <span>核心产品<i class="icon"></i></span>
                </a>
            </div>
            <a class="items" href="/customization">
                <span>客户定制<i class="icon"></i></span>
            </a>
            <a class="items" href="/about">
                <span>关于我们<i class="icon"></i></span>
            </a>
            <a class="items item-btn" href="/login">
                <button class="hu-btn btn-primary-outline">
                    登录
                </button>
            </a>
            <a class="items item-btn" href="/tryout">
                <button class="hu-btn btn-primary">
                    申请试用
                </button>
            </a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-1 sidebar" style="margin-top: 10px;">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">导入数据<span class="sr-only">(current)</span></a></li>
                <li><a href="/customization_browse">数据浏览</a></li>
                <li><a href="/customization_mission">制图任务</a></li>
                <li><a href="/customization_result">分析挖掘</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
            <!--   <h1 class="page-header">结果显示</h1>-->
            <div class="row placeholder">
                <div class="container">
                    <form class="my_form" method="post" action="/upload" enctype="multipart/form-data"
                          name="HtmlFileForm" onsubmit="return check()">
                       <span id='uploadSpan'>
                           <input type="file" name="file" data-toggle="tooltip" data-placement="top" title="暂仅支持CSV格式"
                                  unselectable="on" onchange='checkFileType(this.value);'
                                  style="display: inline-block;">
                       </span>
                        <button class="btn btn-default" type="submit" value="提交">上传</button>
                    </form>
                </div>
                <div class="container">
                    <h2>数据预览</h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr th:each="title:${title}">
                            <th th:text="${title}">字段1</th>
                            <th>字段2</th>
                            <th>字段3</th>
                            <th>字段4</th>
                            <th>字段5</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                            <td>数据1</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <h2>导入规则</h2>
                    <form>
                        <input type="text">
                        <button type="submit">导入</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function checkFileType(str) {
        var pos = str.lastIndexOf(".");
        var lastname = str.substring(pos, str.length);
        var resultName = lastname.toLowerCase();
        if ('.csv' != resultName.toString()) {
            alert('只能上传csv文件，您上传的文件类型为' + lastname + '，请重新上传');
            resetFile();
        }
    }

    var html = document.getElementById('uploadSpan').innerHTML;

    function resetFile() {
        document.getElementById('uploadSpan').innerHTML = html;
    }

    function check() {
        if (HtmlFileForm.file.value == "") {
            alert("请选择文件路径");
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>