<!DOCTYPE html>
<html lang="zn-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="mengo">
    <title>数据处理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/result.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/tryout.css">
    <link rel="shortcut icon" href="img/ico_new.ico" type="image/x-icon">
</head>
<body>
<header>
    <div class="nav-bg" id="navHeader">
        <a class="nav-logo" href="/"><img src="img/logo.png" alt="kaiyuan"></a>
        <div class="nav-list"><img src="img/icon-menu.png" alt=""></div>
        <div class="nav-tab">
            <div class="items dropSelect coreProduct">
                <a href="/">
                    <span>网站首页<i class="icon"></i></span>
                </a>
            </div>
            <div class="items dropSelect solution">
                <a href="/product">
                    <span>核心产品<i class="icon"></i></span>
                </a>
            </div>
            <a class="items" href="/customization">
                <span>客户定制<i class="icon"></i></span>
            </a>
            <a class="items" href="/about">
                <span>关于我们<i class="icon"></i></span>
            </a>
            <a class="items item-btn" href="/login">
                <button class="hu-btn btn-primary-outline">
                    登录
                </button>
            </a>
            <a class="items item-btn" href="/tryout">
                <button class="hu-btn btn-primary">
                    申请试用
                </button>
            </a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-1 sidebar" style="margin-top: 10px;">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">导入数据<span class="sr-only">(current)</span></a></li>
                <li><a href="/customization_browse">数据浏览</a></li>
                <li><a href="/customization_mission">制图任务</a></li>
                <li><a href="/customization_result">分析挖掘</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
            <!--   <h1 class="page-header">结果显示</h1>-->
            <div class="row placeholder">
                <span id="time"></span>
                <div class="container">
                    <input class="btn btn-info btn-xs" type="file" name="file" onchange="checkFileType(this.value);" data-toggle="tooltip" title="暂只支持csv格式"/><br />
                    <div class="col-lg-5"
                         style="padding-left: 0; padding-right: 0; margin-bottom: 0px;">
                        <div class="progress progress-striped active" style="display: ">
                            <div id="progressBar" class="progress-bar progress-bar-success"
                                 role="progressbar" aria-valuemin="0" aria-valuenow="0"
                                 aria-valuemax="100" style="width: 1%"></div>
                        </div>
                    </div>
                    <!-- 显示上传速度 -->
                    <div id="showInfo" class="col-lg-2">0KB/s</div>
                </div>
                <!-- 显示文件信息 -->
                <div id="showFieInfo" class="container">
                    <label name="upfileName"></label><br />
                    <label name="upfileSize"></label><br />
                    <label name="upfileType"></label><br />
                </div>
                <div class="container">
                    <input class="btn btn-success btn-xs" type="button" name="upload" value="上传" />
                    <input class="btn btn-success btn-xs" type="button" name="cancelUpload" value="取消" />
                </div>
                <div class="container">
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">数据预览</button>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th th:each="titles:${title}">
                                <p th:text="${titles}" style="text-align: center"></p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${dataList}">
                            <td th:each="d:${data}">
                                <p th:text="${d}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--模态框-->
                <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">仅显示15条数据</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h2>导入规则</h2>
                    <form>
                        <input type="text">
                        <button type="submit">导入</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function checkFileType(str) {
        var pos = str.lastIndexOf(".");
        var lastname = str.substring(pos, str.length);
        var resultName = lastname.toLowerCase();
        if ('.csv' != resultName.toString()) {
            alert('只能上传csv文件，您上传的文件类型为' + lastname + '，请重新上传');
            resetFile();
        }
    }


    var fileBtn = $("input[name=file]");
    var processBar= $("#progressBar");
    var uploadBtn=$("input[name=upload]");
    var canelBtn=$("input[name=cancelUpload]");
    var ot;//上传开始时间
    var oloaded;//已上传文件大小
    fileBtn.change(function() {
        var fileObj = fileBtn.get(0).files[0]; //js获取文件对象
        if (fileObj) {
            var fileSize = getSize(fileObj.size);
            $("label[name=upfileName]").text('文件名：' + fileObj.name);
            $("label[name=upfileSize]").text('文件大小：' + fileSize);
            $("label[name=upfileType]").text('文件类型：' + fileObj.type);
            uploadBtn.attr('disabled', false);
        }
    });
    // 上传文件按钮点击的时候
    uploadBtn.click(function(){
        // 进度条归零
        setProgress(0);
        // 上传按钮禁用
        $(this).attr('disabled', true);
        // 进度条显示
        showProgress();
        // 上传文件
        uploadFile();
    });
    function uploadFile(){
        var url ="/my_upload";
        var fileObj = fileBtn.get(0).files[0];
        if(fileObj==null){
            alert("请选择文件");
            return;
        }
        // FormData 对象
        var form = new FormData();
        form.append('file', fileObj);
        form.append('fileName',fileObj.name)// 文件对象
        // XMLHttpRequest 对象
        var xhr = new XMLHttpRequest();
        //true为异步处理
        xhr.open('post', url, true);
        //上传开始执行方法
        xhr.onloadstart = function() {
            console.log('开始上传')
            ot = new Date().getTime();   //设置上传开始时间
            oloaded = 0;//已上传的文件大小为0
        };

        xhr.upload.addEventListener('progress', progressFunction, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        xhr.send(form);

        function progressFunction(evt) {
            debugger;
            if (evt.lengthComputable) {
                var completePercent = Math.round(evt.loaded / evt.total * 100)
                    + '%';
                processBar.width(completePercent);
                processBar.text(completePercent);

                var time = $("#time");
                var nt = new Date().getTime();     //获取当前时间
                var pertime = (nt-ot)/1000;        //计算出上次调用该方法时到现在的时间差，单位为s
                ot = new Date().getTime();          //重新赋值时间，用于下次计算

                var perload = evt.loaded - oloaded; //计算该分段上传的文件大小，单位b
                oloaded = evt.loaded;               //重新赋值已上传文件大小

                //上传速度计算
                var speed = perload/pertime;//单位b/s
                var bspeed = speed;
                var units = 'b/s';//单位名称
                if(speed/1024>1){
                    speed = speed/1024;
                    units = 'k/s';
                }
                if(speed/1024>1){
                    speed = speed/1024;
                    units = 'M/s';
                }
                speed = speed.toFixed(1);
                //剩余时间
                var resttime = ((evt.total-evt.loaded)/bspeed).toFixed(1);
                $("#showInfo").html(speed+units+'，剩余时间：'+resttime+'s');
            }
        }

        //上传成功后回调
        function uploadComplete(evt) {
            uploadBtn.attr('disabled', false);
            $("#showInfo").html("上传完成");
            console.log('上传完成')
        };

        //上传失败回调
        function uploadFailed(evt) {
            $("#showInfo").html("上传失败！");
            console.log('上传失败' + evt.target.responseText);
        }

        //终止上传
        function cancelUpload() {
            $("#showInfo").html("上传取消");
            xhr.abort();
        }

        //上传取消后回调
        function uploadCanceled(evt) {
            console.log('上传取消,上传被用户取消或者浏览器断开连接:' + evt.target.responseText);
        }

        canelBtn.click(function(){
            uploadBtn.attr('disabled', false);
            cancelUpload();
        })
    }
    function getSize(size) {
        var fileSize = '0KB';
        if (size > 1024 * 1024) {
            fileSize = (Math.round(size / (1024 * 1024))).toString() + 'MB';
        } else {
            fileSize = (Math.round(size / 1024)).toString() + 'KB';
        }
        return fileSize;
    }
    function setProgress(w) {
        processBar.width(w + '%');
    }
    function showProgress() {
        processBar.parent().show();
    }





</script>
</body>
</html>