<!DOCTYPE html>
<html lang="zn-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="mengo">
    <title>数据处理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/result.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/tryout.css">
    <link rel="shortcut icon" href="img/ico_new.ico" type="image/x-icon">
</head>
<body>
<header>
    <div class="nav-bg" id="navHeader">
        <a  class="nav-logo" href="/"><img src="img/logo.png" alt="kaiyuan"></a>
        <div class="nav-list"><img src="img/icon-menu.png" alt=""></div>
        <div class="nav-tab">
            <div class="items dropSelect coreProduct">
                <a href="/">
                    <span>网站首页<i class="icon"></i></span>
                </a>
            </div>
            <div class="items dropSelect solution">
                <a href="/product">
                    <span>核心产品<i class="icon"></i></span>
                </a>
            </div>
            <a class="items" href="/customization">
                <span>客户定制<i class="icon"></i></span>
            </a>
            <a class="items" href="/about">
                <span>关于我们<i class="icon"></i></span>
            </a>
            <a class="items item-btn" href="/login">
                <button class="hu-btn btn-primary-outline">
                    登录
                </button>
            </a>
            <a class="items item-btn" href="/tryout">
                <button class="hu-btn btn-primary">
                    申请试用
                </button>
            </a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-1 sidebar"  style="margin-top: 10px;">
            <ul class="nav nav-sidebar">
                <li><a href="/customization">导入数据</a></li>
                <li><a href="/customization_browse">数据浏览</a></li>
                <li class="active"><a href="#">制图任务<span class="sr-only">(current)</span></a></li>
                <li><a href="/customization_result">分析挖掘</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
            <!--   <h1 class="page-header">结果显示</h1>-->
            <div class="container">
                <h2>我要制图：</h2>
                <button type="button" class="btn btn-info">步进探索</button>
                <button type="button" class="btn btn-info">关联发现</button>
                <button type="button" class="btn btn-info">社区图</button>
            </div>
            <div class="container">
                <h2>任务列表</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>类型</th>
                        <th>名称</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>探索</td>
                        <td>步进探索1</td>
                        <td>正在制图</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>关联</td>
                        <td>关联发现1</td>
                        <td>已完成，<a>点击查看</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>社区</td>
                        <td>共现社区</td>
                        <td>正在制图</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>社区</td>
                        <td>相似社区</td>
                        <td>已完成，<a>点击查看</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>