<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="my_form" method="post">
    <input type="text" name="name">用户名
    <input type="password" name="password">密码
</form>
<button onclick="btn()">登录</button>
<br/>
<br/>
</body>
<script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
<script>
    function btn() {
        $.ajax({
            type: 'post',
            url: '/loginAction',
            data: $('#my_form').serializeArray(),
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                console.info(data);
                if (data == 'success') {
                    alert('success');
                } else if (data == 'user_error') {
                    alert('user_error');
                } else {
                    alert('password error');
                }

            },
        })
    }

</script>

</html>