<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="mengo">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/tryout.css">
    <title>申请试用</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body data-path="login">
<!--旧版删除-->
<!--
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><img src="img/l.png" style="width: 90px;margin-left: -200px"></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="/">首页</a></li>
                            <li class="active"><a href="/login">登录</a></li>
                            <li><a href="/product">产品</a></li>
                            <li><a href="">定制</a></li>
                            <li><a href="/about">关于我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <form class="form-signin">
                <h2 class="form-signin-heading">请登录</h2>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" id="username" class="form-control" placeholder="请输入用户名" required autofocus>
                <label for="pwd" class="sr-only">密码</label>
                <input type="password" id="pwd" class="form-control" placeholder="请输入密码" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
    </div>
</div>
-->
<div class="_html">
    <div class="_body">
                   <header>
                            <div class="nav-bg" id="navHeader">
                                <a  class="nav-logo" href="/"><img src="img/l.png" alt="kaiyuan"></a>
                                <div class="nav-list"><img src="img/icon-menu.png" alt=""></div>
                                <div class="nav-tab">
                                    <div class="items dropSelect coreProduct">
                                    <a href="/">
                            <span>网站首页<i class="icon"></i></span>
                        </a>
                    </div>
                    <div class="items dropSelect solution">
                        <a href="/product">
                            <span>核心产品<i class="icon"></i></span>
                        </a>
                    </div>
                    <a class="items" href="/customization">
                        <span>客户定制<i class="icon"></i></span>
                    </a>
                    <a class="items" href="/about">
                        <span>关于我们<i class="icon"></i></span>
                    </a>
                    <a class="items item-btn" href="/login">
                        <button class="hu-btn btn-primary-outline">
                            登录
                        </button>
                    </a>
                    <a class="items item-btn" href="javascript();">
                        <button class="hu-btn btn-primary">
                            申请试用
                        </button>
                    </a>
                </div>
            </div>
        </header>

        <section class="main">
            <div class="mainContent">
                <div class="apply-header">
                    <div class="apply-header-content">
                        <div class="apply-header-item active">
                            <div class="ap-icon">1
                                <div class="line"></div>
                            </div>
                            <div class="ap-txt">填写信息</div>
                        </div>
                        <div class="apply-header-item">
                            <div class="ap-icon">2
                                <div class="line"></div>
                            </div>
                            <div class="ap-txt">选择权限</div>
                        </div>
                        <div class="apply-header-item">
                            <div class="ap-icon">3</div>
                            <div class="ap-txt">申请成功</div>
                        </div>
                    </div>
                </div>
                <div class="apply-container">
                    <div class="applyForm">
                        <div class="apply-title">申请试用</div>
                        <div class="apply-txt">信息完整有助于提高通过率</div>
                        <div id="applyForm">
                            <label class="apply-line">
                                <span class="login-label">手机</span>
                                <input class="hu-input input-primary" musthave="" phone="" type="text" placeholder="手机号"
                                       name="phone">
                                <span class="error-info"></span>
                            </label>
                            <label class="apply-line">
                                <span class="login-label">邮箱</span>
                                <input class="hu-input input-primary" musthave="" email="" type="email" placeholder="邮箱"
                                       name="email">
                                <span class="error-info"></span>
                            </label>
                            <label class="apply-line">
                                <span class="login-label">密码</span>
                                <input class="hu-input input-primary" musthave="" password="" type="password"
                                       placeholder="密码" name="pwd">
                                <span class="error-info"></span>
                            </label>
                            <label class="apply-line">
                                <span class="login-label">确认密码</span>
                                <input class="hu-input input-primary" musthave="" password="confirm" type="password"
                                       placeholder="确认密码" name="pwd">
                                <span class="error-info"></span>
                            </label>
                            <label class="apply-line">
                                <span class="login-label">姓名</span>
                                <input class="hu-input input-primary" musthave="" type="text" placeholder="姓名"
                                       name="name">
                                <span class="error-info"></span>
                            </label>
                            <label class="apply-line">
                                <span class="login-label">公司</span>
                                <input class="hu-input input-primary" musthave="" type="text" placeholder="公司"
                                       name="company">
                                <span class="error-info"></span>
                            </label>
                            <label class="apply-line">
                                <span class="login-label">职务</span>
                                <input class="hu-input input-primary" musthave="" type="text" placeholder="职务"
                                       name="position">
                                <span class="error-info"></span>
                            </label>
                            <div class="bottom">
                                <button class="next-btn">下一步</button>
                                <p>已有账号？点击<a href="/login">登录</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <p>
                        Copyright © 2019 GraphViz.cn . All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.global.min.js"></script>
<script src="js/formDate.js"></script>
<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script src="js/login.js"></script>

</body>
</html>